 /* Login */

 .Login {
    width: 60%;
    background-color: burlywood;
    padding: 60px ;
    margin: 8% 20% 4%;
    border-radius: 4px;
    font-size: larger;
  }
  
  .field {
    width: 100%;
    padding: 1%;
    margin-bottom: 16px;
    font-size: 15px;
    opacity: 40%;
  }
  
 