 /* Main */

 .texto1 {
    color: black;
    margin: 9% 11% 5% 19%;
    padding: 4%;
    opacity: 90%;
  }
  
  .texto1 .txt1 {
    background-color: #FAD8A2;
    opacity: 100%;
    text-align: start;
    padding: 2%;
  }
  
  .texto1 .txt2 {
    background-color: #E0951B;
    opacity: 100%;
    text-align: center;
    padding: 2%;
  }
  
  .texto1 .txt3 {
    background-color: #AD7315;
    opacity: 100%;
    padding: 2%;
    text-align: end;
  }