 /* Media */

 @media  (max-width: 768px) {
  
    section.historia {
      flex-direction: column;
    }
    section.historia.invertir {
      flex-direction: column;
    }
    .carImg {
      width: 65%;
      margin: 16% 16% 29% 16%;
    }
    }
    
    @media (min-width: 0px) and (max-width: 576px)
    {
      .Login {
      width: 77%;
      padding: 30px;
      margin: 37% 13% 4%;
    }
      section.sede {
      display: flex;
      flex-flow: column-reverse;
    }
      .texto1 { 
      margin: 26% 21% 9% 19%;
    }
    }
    
    @media (min-width: 577px) {
      section.sede {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 2fr 2fr;
    }
    
    .texto1 { 
      margin: 6% 4% 6% 8%;
    }
    }