 /* Nav */

 .navBar a:hover {
    background-color: #E6BE0E;
    border-radius: 10%;
}

.title {
    color: black;
    background-color: antiquewhite;
    text-align: center;
    margin-top: 3%;
 }

.bg-propio {
    background-color: black;
}

.bg-mine {
    background-color: burlywood ;
}

.fondo {
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
   
}