 /* Sobre nosotros*/

 section.historia {
    display: flex;
    gap: 50px;
    padding: 2.5rem;
    align-items: center;
    flex-direction: row;
  
    }
    section .historia .historia-img{
        width: 100%;
        height: auto;
  
    }
  
    section .historia-img img {
    width: 100%;
    height: auto;
    box-shadow: 0px 10px 30px whitesmoke;
    }
  
  section.historia.invertir {
    flex-flow: row-reverse;
    align-items: center;
  }
  
  .historia-info {
    background-color: #FAD8A2;
    padding: 60px;
    box-shadow: 0px 10px 30px whitesmoke;
    border-radius: 3%;
  }