* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    border: 0;
  }
  
  @import 'nav';
  @import 'm';
  @import 'pdp';
  @import 'sobrenosotros';
  @import 'sede';
  @import 'login';


  @import 'media';